<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEC Filings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_static', path='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>SEC Filings</h1>
        <form id="tickerForm">
            <label for="ticker">Enter Ticker Symbol:</label>
            <input type="text" id="ticker" name="ticker" required>
            <label for="filingType">Choose Filing Type:</label>
            <select id="filingType" name="filingType">
                <option value="10-K">10-K</option>
                <option value="10-Q">10-Q</option>
                <option value="8-K">8-K</option>
                <!-- Add more filing types as needed -->
            </select>
            <button type="submit">Get Recent Filings</button>
        </form>
        <div id="filingsTable"></div>
    </div>
    <iframe id="documentIFrame" src="" style="display: none"></iframe>

    <script>
      function openDocumentIFrame(url) {
        const iframe = document.querySelector("#documentIFrame");
        iframe.src = `/get_filing_html?url=${encodeURI(url)}`;
        iframe.style.display = "block";
      }
        document.getElementById("tickerForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const ticker = document.getElementById("ticker").value;
            const filingType = document.getElementById("filingType").value;
          fetch(`/recent_filings?company=${ticker}&filing_type=${filingType}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
                    console.log(data.filings);
                    const filings = data.filings;
                    const table = `
                        <table>
                            <tr>
                                <th>Company</th>
                                <th>CIK</th>
                                <th>Filing Type</th>
                                <th>Filing Date</th>
                                <th>Link to HTML</th>
                            </tr>
                            ${filings.map(filing => `
                                <tr>
                                    <td>${ticker}</td>
                                    <td>${filing.cik}</td>
                                    <td>${filing.form_type}</td>
                                    <td>${filing.filing_date}</td>
                                    <td><button onclick="openDocumentIFrame('${filing.url}')">View Document</button></td>
                                </tr>
                            `).join('')}
                        </table>`;
                    document.getElementById("filingsTable").innerHTML = table;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
